/* all */
:root {
  --pr-clr: #F5306B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}

/* navbar */
.navbar-nav .nav-link {
  text-transform: uppercase;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 500;
}

.navbar-nav .nav-link:hover::after {
  border-bottom: 3px solid #fceef2;
  content: '';
  display: block;
  width: 50%;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: -8px;
  border-radius: 1px;
}

.navbar-nav .nav-brand .nav-link {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

/* hero section */
.hero {
  background: linear-gradient(258.49deg, var(--pr-clr) 10.96%, rgba(95, 196, 86, 0) 100.16%);
  height: 100vh;
  width: 100%;
  margin-top: -70px;
}

.hero-2 .hero-animed {
  width: 536px;
  height: 474px;
  top: 100px;
}

.hero-2 h4 {
  font-size: 24px;
  font-weight: 500;
}

.name {
  text-transform: uppercase;
  font-weight: 600;
  color: #FF004F;
}

.hero-2 .campaign {
  width: 50%;
}

.hero-2 h1 {
  text-transform: capitalize;
  color: #2C1C13;
  font-weight: 700px;
}

.hero-2 p {
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
}

.nama-produk {
  color: #FF004F;
  font-weight: 600;
}


/* button in hero section */
.hero-2 button img {
  width: 24px;
  height: 24.62px;
}

.hero-2 button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.105em;
  color: #FFFFFF;
  background-color: #FF004F;
  border-radius: 40px;
  padding: 14px 20px 14px 24px;
  transform: translate(0px, 0px) rotate(0deg);
  transition: 0.7s;
  box-shadow: -4px -2px 16px 0px #ffffff, 4px 2px 16px 0px rgb(95 157 231 / 48%);
}

button:hover {
  color: #FFFFFF;
  background-color: #FF3A77;
  box-shadow: -2px -1px 8px 0px #ffffff, 2px 1px 8px 0px rgb(95 157 231 / 48%);
}

button:active {
  box-shadow: none;
}

/* deskstop */
@media (min-width: 992px) {}

/* keunggulan section */
#keunggulan {
  padding: 100px 0;
}

.title {
  font-size: 46px;
  font-weight: 600;
  color: #FF004F;
}

.sub-title {
  font-size: 24px;
  font-weight: 500;
  color: #2C1C13;
}

/* keunggulan card */

.row .box {
  position: relative;
  width: 280px;
  height: 300px;
  background: #F6F6F6;
  display: flex;
  padding: 0px 0px 0px 0px;
  flex-wrap: wrap;
  border-radius: 20px;
}

.row .box::before {
  content: '';
  position: absolute;
  inset: -10px 50px;
  border-top: 4px solid var(--clr);
  border-bottom: 4px solid var(--clr);
  z-index: -1;
  transform: skewY(15deg);
  transition: 0.5s ease-in-out;
}

.row .box:hover::before {
  transform: skewY(0deg);
  inset: -10px 40px;
}

.row .box::after {
  content: '';
  position: absolute;
  inset: -10px 50px;
  border-left: 4px solid var(--clr);
  border-right: 4px solid var(--clr);
  z-index: -1;
  transform: skew(10deg);
  transition: 0.5s ease-in-out;
}

.row .box:hover::after {
  transform: skew(0deg);
  inset: 40px -10px;
}

.row .box .content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  gap: 20px;
  border-radius: 20px;
}

.row .box .content .icon {
  color: var(--clr);
  width: 60px;
  height: 60px;
  box-shadow: 0 0 0 4px #e0e0e0, 0 0 0 6px var(--clr);
  font-size: 2.5em;
  background: #e0e0e0;
  transition: 0.5s ease-in-out;
}

.row .box:hover .content .icon {
  background: var(--clr);
  color: #ffffff;
  box-shadow: 0 0 0 4px #ffffff, 0 0 0 300px var(--clr);
  ;
}

.row .box .content .text {
  transition: 0.5s ease-in-out;
}

.row .box:hover .content .text {
  color: #ffffff;
}

.row .box .content .text h3 {
  color: black;
  transition: 0.5s ease-in-out;
  font-size: 18px;
}

.row .box:hover .content .text h3 {
  color: #ffffff;
}

.row .box .content .text p {
  color: black;
  transition: 0.5s ease-in-out;
  font-size: 14px;
}

.row .box:hover .content .text p {
  color: #ffffff;
}

.row .box .content .text a {
  background-color: var(--clr);
  color: #FFFFFF;
  padding: 8px 12px;
  display: inline-block;
  text-decoration: none;
  transition: 0.5s ease-in-out;
  border-radius: 20px;
  margin-top: 20px;
  font-weight: 500;
}

.row .box:hover .content .text a {
  background-color: #ffffff;
  color: black;
  font-weight: 500;
}

/* button read more */
.read-more {
  width: 102px;
  height: 42px;
  border-radius: 20px;
  transition: all 0.3s;
  cursor: pointer;
  background: #FF004F;
  font-size: 13px;
  font-weight: 700;
  color: #FFFFFF;
}

.read-more:hover {
  background: #FF3A77;
  color: white;
  font-size: 13px;
}

/* shape section */

.campaign-shape {
  font-family: 'Hammersmith One', sans-serif;
  font-size: 38px;
  text-transform: capitalize;
}

.campaign2-shape {
  font-family: 'Hi Melody', sans-serif;
  font-size: 38px;
  text-transform: capitalize;
}

.campaign-merge {
  width: 420px;
  float: right;
  margin: 40px 0 0 0;
}

.image-overlay {
  position: absolute;
  z-index: -1;
  opacity: 0.8;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.image-overlay img {
  width: 100%;
}

#shape-section {
  position: relative;
  padding-bottom: 55em;
}

/* info produk */

#info-section .container .content_container {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-top: 3.5em;
  border-top: 3px var(--pr-clr);
}

#info-section .container .content_container h3 {
  font-family: 'Hammersmith One', sans-serif;
  font-size: 46px;
}

#info-section.container.img-info {
  width: 500px;
}

#info-section .container .img-info img {
  width: 540px;
  height: 420px;
  /* margin-top: 2.5em; */
}

#info-item .display-4 {
  font-size: 46px;
  font-family: 'poppins', sans-serif;
  color: #FF3A77;
  font-weight: 700;
}

#info-section .mb-0 {
  font-size: 28px;
  font-family: 'poppins', sans-serif;
  font-weight: 600;
}

/* feedback-section */
#feedback